*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e60404;
    border-radius: 20px;
  }
  
h1{
    font-size: 7.2rem;
}
h2{
    font-size: 6.8rem;
}
p{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    color: white;
}
.grid{
    display: grid;
    place-items: center;
    gap: 6rem;
}
.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}
.grid-three--cols{
    grid-template-columns: repeat(3,1fr);
}
.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 6rem 6rem;
}
.header ,.lowersection{
    padding: 5rem 5rem;
    color: white;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    & img{
        filter: invert(1);
    }
    & span{
        font-size: 2.4rem;
        font-family: fantasy;
    }
}
.hamburger{
    width: 100%;
    height: 0.4rem;
    background-color: white;
    margin: .2rem 0;
}
.menu{
    position: fixed;
    right: 2rem;
    background-color: black;
    z-index: 2000;
}
.menu:hover{
    color: red;
    cursor: pointer;
}
.social ul{
    list-style: none;
    display: flex;
    font-family: fantasy;
    gap: 1.5rem;
    & li:first-child{
        color: red;
    }

}
.scroll{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.arrow{
    text-align: center;
    color: rgb(31, 31, 228);
    font-size: 2.4rem;
    cursor: pointer;
    & a i{
        background-color: white;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: blue;
    }
    
}
.menubar{
    position: fixed;
    height: 100vh;
    width: 20vw;
    margin: 0 0rem;
    right: -100%;
    top: 0;
    background-color: rgb(59, 57, 57);
    z-index: 3000;
    transition: right .75s ease-in-out;
}
.closebutton{
    margin: 4rem 1.5rem;
    cursor: pointer;
    & i{
        padding-left: 1.5rem;
    }

}
.navbar{
    margin-left: 10rem;
    margin-top: 10rem;
    & ul{
        list-style-type: decimal;
        & li{
            margin: 5rem 0;
            letter-spacing: 0.5rem;
            font-size: 2rem;
            position: relative;
            cursor: pointer;
            
        }
        & li::before{
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 0.2px;
            background-color: rgb(24, 23, 23);
            top: -2rem;
            left: -5rem;
        }
        & li:last-child::after{
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 0.2px;
            background-color: rgb(24, 23, 23);
            bottom:  -2rem;
            left: -5rem;
        }
    }

}
.intro{
    margin: 10rem 5rem;
    & p{
        font-size: 1.8rem;
        color: gray;
    }
}
.menusocial{
    margin: 5rem ;
    & ul li i{
        color: gray;
    }
    & ul li i:hover{
        color: white;
        cursor: pointer;
    }
    & ul li{
        margin: 0 1.5rem;
    }
}
.centersection{
    margin: 10rem 0;
    color: white;
}
.subheading{
    margin-top: 5rem;
    display: flex;
    gap: 5rem;
    align-items:start;
}
.line{
    position: absolute;
    width: 10%;
    height: 0.1rem;
    background-color: red;
}
.sub{
    position: relative;
    font-size: 3.6rem;
    margin-top: 3rem;
}
.links{
    margin-left: 147.5%;
    margin-top: 10rem;
    color: white;
    & ul li::marker{
        color: red;
        
    }
    & ul li{
        margin: 1rem 0;
        font-size: 2.4rem;
        width: 30rem;
        background-color: rgba(15, 15, 15, 0.248);
        border: 0.5px solid rgba(0, 0, 0, 0.247);
        padding: 1rem 5rem;
    }
    & .linkname{
        display: block;
        letter-spacing: 1rem;
        text-transform: capitalize;
        margin-bottom: 0;
    }
    & .linkdesc{
        font-size: 1.8rem;
        color: gray;
        margin-top: -2rem;
        display: block;
    }
}

#hero{
    height: 100vh;
    width: 100vw;
    background-image: url("./images/terry-vlisidis-WsEbnsnKbUE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.aboutus{
    margin-top: 15rem;
}
.aboutheading::before{
    content: "/what we are";
    font-size: 1.6rem;
    font-weight: bolder;
    color: red;
}
.aboutsubheading{
    margin-top: 5rem;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
}
.speciality{
    margin-top: 10rem;
    font-size: 1.8rem;
}
.intro{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.number{
    background-color: rgb(58, 239, 139);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.name{
    font-size: 2.4rem;
}
.desc{
    display: flex;
    gap: 3.5rem;
    margin-left:2rem ;
}
.linesep{
    content: "";
    width: 0.2rem;
    
    background-color: black;
}
.content{
    color: gray;
}
#services{
    margin-top: 15rem;
    background-color: rgb(241,241,241);
}
.ourservice{
    padding: 10rem 0;
}
.serviceheading::before{
    content: "/what we do";
    font-size: 1.6rem;
    font-weight: bolder;
    color: red;
}
.servicesubheading p{
    margin-top: 5rem;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
}
.service{
    margin-top: 12rem;
}
.card-logo i{
    color: rgb(38,191,181);
    font-size: 4.8rem;
    margin-bottom: 2rem;
}
.card-name{
    font-size: 3.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.card-content p{
    font-size: 1.8rem;
    line-height: 1.5;
    color: gray;
}
#works{
    margin-top: 15rem;
}
.worksheading::before{
    content: "/what we do";
    font-size: 1.6rem;
    font-weight: bolder;
    color: red;
}
.projects.grid{
    gap: 0;
    margin-top: 10rem;
    place-items: start;
    
}
.joinedimg{
    margin-top: -12.5rem;
}
.image{
    position: relative;
}
.projectname{
    position: absolute;
    z-index: 2000;
    bottom: 10rem;
    left: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    visibility: hidden;
}
.image:hover{
    overflow: hidden;
    & .projectname{
        visibility: visible;
        bottom: 5rem;
        transition: all 1s;
    }
}

.projects img:hover{
    opacity: 0.5;
    scale: 1.1;
    transition: all 1s;
    
}
.clients{
    text-align: center;
    margin-top: 15rem;
}
.clientsfeedback{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 2.4rem;

}
.client{
    display: flex;
    gap: 3rem;
    max-width: 50rem;
}
.actionbuttons{
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
    justify-content: center;
}
.btn{
    height: 1rem;
    width: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.b1{
    background-color: black;
}
.btn:hover{
    background-color: black;
}
.photo img{
    width: 5rem;
    border-radius: 50%;
}

.t2,.t3{
    display: none;
}
#showup{
    margin-top: 15rem;
    height: 40vh;
    background-color: #141414d1;
    background-image: url("./images/stats-bg.jpg.webp");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: white;
}
.showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}
.data{
    
    & .dnumber{
        font-size: 4.8rem;
        text-align: center;
    }
    & .dline{
        width: 100%;
        height: 1px;
        background-color: gray;
        margin-top: 2rem;
        margin-bottom: -2rem;
    }
    & .type{
        font-size: 2.4rem;
        text-align: center;
        color: gray;
        margin: 5rem 0;
    }
}
#contact{
        background-color: black;
    color: white;
    padding: 20rem 0;
}
.cheading{
    position: relative;
}
.cheading::before{
    content: "/contact us";
    font-size: 1.6rem;
    font-weight: bolder;
    color: red;
}
.cheading::after{
    position: absolute;
    content: "";
    background-color: red;
    top: 30rem;
    width: 50rem;
    height: 2px;
}

.address p{
    margin-top: 10rem;
    color: white;
    font-size: 4.2rem;
}
.address span{
    display: block;
    color: gray;
    margin-top: 2rem;
    font-size: 3rem;
}

.extrainfo{
    margin-top: 12rem;
    display: flex;
    gap: 20rem;
    align-items: center;
    max-width: 80rem;
}
.findus::before{
    content: "/WHERE TO FIND US";
    font-size: 1.6rem;
    font-weight: bolder;
    color: red;

}
.actualaddress{
    font-size: 3.8rem;

}
.social li i{
    font-size: 3.2rem;

}
::placeholder{
    color: white;
}
.letter{
    display: flex;
    margin-top: 5rem;
    & input{
        width: 25rem;
        padding: 1rem;
        border: 1px solid gray;
        background-color: transparent;
    }
    & button{
        width: 10rem;
        color: white;
        background-color: red;
        padding: 0.2rem;
    }

}


/* Responsive css */
@media (width<1900px) {
    .centersection{
        margin-top: 0;
    }
    .links{
        margin-left: 74%;
    }
    .menu{
        right: 3rem;
    }
    
    .image img{
        width: 100%;
    }
    .joinedimg{
        margin-top: -10.8rem;
    }
    .intro{
        gap: 3rem;
    }
    .desc{
        gap:6rem;
    }
    .linesep{
        margin-left: 5rem;
    }
    
    
}
@media (width<1440px){
        html{
            font-size: 50%;
        }
        .links{
            margin-left: 67%;
        }
        .menubar{
            width: 28vw;
        }
        .joinedimg{
            margin-top: -9.7rem;
        }
}
@media (width<1024px){
    html{
        font-size: 43.75%;
    }
    .centersection{
        margin-top: 10rem;
    }
    .links{
        margin-left: 60%;
    }
    .menubar{
        width: 30vw;
    }
    .joinedimg{
        margin-top: -8rem;
    }
    .cheading::after{
        position: absolute;
        content: "";
        background-color: red;
        top: 40rem;
        width: 50rem;
        height: 2px;
    }
}
@media (width<768px){
    html{
        font-size: 37.5%;
    }
    #hero{
        height: 80vh;
    }
    .centersection{
        margin-top:0;
    }
    h1{
        font-size: 5.2rem;
    }
    .links{
        display: none;
    }
    
    .menu{
        right: 3rem;
    }
    .menubar{
        width: 50vw;
    }
    .menubar .social ul{
        flex-direction: column;
    }
    .grid-two--cols,.grid-three--cols{
        grid-template-columns: 1fr;
    }
    .extrainfo{
        flex-direction: column;
    }
    .letter button{
        width: 12rem;
    }
    .cheading::after{
        width: 45rem;
    }
    .scroll{
        display: none;
    }
    .lowersection .social ul li{
        padding: 0 1rem;
    }
    .testimonial{
        flex-direction: column;
    }
    #showup{
        height: 20vh;
    }
    .data{
        & .dnumber{
            font-size: 2.4rem;
        }
        & .type{
            font-size: 1.2rem;
        }
    }
    .cheading::after{
       
        top: 47rem;
       
    }
}